[Desktop Entry]
Version=1.0
Name=Arsenic
GenericName=Arsenic
Exec=arsenic
Comment=Strong triple encryption
Terminal=false
Type=Application
Categories=Utility;
Icon=arsenic
GenericName[en_US]=Arsenic
